@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<h3>Education</h3>
<p>Univeristy of Macedonia, Computer Science - INFORMATION TECHNOLOGY -- 2011 - 2016</p>

<h3>Skills</h3>
<h5>PROGRAMMING LANGUAGES & TOOLS</h5>
<ul>
    <li>HTML, CSS, Javascript, Angular.js, JQuery, Bootstrap</li>
    <li>Ruby, Ruby on Rails, C#, .NET,  MySQL</li>
    <li>Git, DigitalOcean</li>
</ul>

