@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Thessaloniki<br />
    Ypsilantou 18, Nea Michaniwna, 57004<br />
    <abbr title="Phone">P:</abbr>
    +30 697 6404 076
</address>

<address>
    <strong>Email:</strong> <a href="mailto:serafimntavranis@gmail.com">serafimntavranis@gmail.com</a><br />
</address>
