@{
    ViewData["Title"] = "Experience";
}

<h2>Experience</h2>

<div class="row">
    <div class="col-md-12">
        <br>
        <h4>FULL STACK WEB DEVELOPER</h4>
        <h5>DATAVERSE</h5>
        <p>As part of a team working on a custom web application, using C# and angular.js</p>
        <hr>
        <h4>FULL STACK WEB DEVELOPER</h4>
        <h5>FEDENET</h5>
        <p>As part of a team that builds websites and e-shops with plain PHP, javascript and MySQL. Working on a custom CMS built with plain PHP.</p>
        <hr>
        <h4>PROGRAMMING TEACHER</h4>
        <h5>PROOPTIKI</h5>
        <p>Teaching pseudo programming language for educational use in second grade students.</p>
        <hr>
        <h4>JUNIOR WEB DEVELOPER</h4>
        <h5>BALTECO</h5>
        <p>Development of company’s website balteco.pro. Back and Front end development of a custome web application on Ruby on Rails. System administrator in Linux servers. Domain registration.</p>
        <hr>
        <h4>JUNIOR WEB DEVELOPER</h4>
        <h5>ALBATEC</h5>
        <p>Training in Ruby and Ruby on Rails language, in markup language HTML, CSS, Javascript and JQuery library, MySQL. Development of company’s website. Training in Linux/Unix systems and servers. Domain registration.</p>
    </div>
</div>